body
{
  background: #e2e2e2;
}
.addr
{
  background: #222;
  color: white;

  padding: 20px;
 margin-bottom: 15px;
 text-align: center;

}
label
{
  border-top: 2px solid #43D1AF;
  border-left: 2px solid #43D1AF;
  border-bottom: 2px solid #43D1AF;
  padding-left: 10px;
  padding-right: 10px;
  display:inline-block;
    white-space:nowrap;

}
input
{
  margin-right: 20px;

}
.srvinfo
{
    color:black;
}

button
{
    width: 10%;
    height: 32px;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    margin-left: 10px;

}
#grid
{
  text-align: center;
}
.score-board
{
  position: absolute;

  width: 250px;
  height: 450px;
  text-align: center;

}

.player1 h4
{


font-size: 25px;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #43D1AF, 0 0 30px #43D1AF, 0 0 40px #43D1AF, 0 0 55px #43D1AF, 0 0 75px #43D1AF;
text-align: center;
}
.player2 h4
{

font-size: 25px;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #43D1AF, 0 0 30px #43D1AF, 0 0 40px #43D1AF, 0 0 55px #43D1AF, 0 0 75px #43D1AF;
text-align: center;


}
.tabscore
{
  background: #222;

     box-shadow: 10px 10px 15px #888888;
  padding-top: 5px;

  padding-bottom: 25px;
}
.tabscore.active
{
    border-right:  8px solid #43D1AF;
}
.player1
{

    background-image: -webkit-linear-gradient(30deg, #013A6B 25%, #222 25%);



}
.player2
{
  background-image: -webkit-linear-gradient(30deg, #c1ad17 25%, #222 25%);

  margin-top: 5px;

}
#score1
{

font-size: 25px;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #43D1AF, 0 0 30px #43D1AF, 0 0 40px #43D1AF, 0 0 55px #43D1AF, 0 0 75px #43D1AF;
text-align: center;

}
#score2
{

font-size: 25px;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #43D1AF, 0 0 30px #43D1AF, 0 0 40px #43D1AF, 0 0 55px #43D1AF, 0 0 75px #43D1AF;
text-align: center;

}
#turn
{

font-size: 25px;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #af0303, 0 0 30px #af0303, 0 0 40px #af0303, 0 0 55px #af0303, 0 0 75px #af0303;
text-align: center;
   box-shadow: 10px 10px 15px #888888;
border-right:  8px solid #af0303;
background: #222;
  margin-top: 5px;
padding-top: 5px;
  padding-bottom: 25px;

}
#cptturn
{

font-size: 25px;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #af0303, 0 0 30px #af0303, 0 0 40px #af0303, 0 0 55px #af0303, 0 0 75px #af0303;
text-align: center;

}
.logo
{
  display: inline-block;
  position: relative;

}
.radio
{
  padding-right: 15px;

}
button:hover {
    background-color: #34a388;

}
.point{
  fill:black;
  stroke:#222;
  opacity:0;
}

.pointj1
{
  fill:#013A6B;
  stroke:#222;
  opacity:1;
}

.pointj2
{
  fill:#c1ad17;
  stroke:#222;
  opacity:1;
}

.point:hover
{
  opacity: 0.25;
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 270px auto;
  padding: 20px;
  background: transparent;
  text-align: center;
  border-radius: 5px;
  width: 100%;

}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.box 
{
  opacity: 0;
}

